body {
  background-color: #26282d;
  padding: 0;
  margin: 0;
}
.container{
  height: 50rem;
  width: 85rem;
  padding: 3rem 1rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: right;
}
input[type='checkbox']{
  height: 1rem;
  width: 1rem;
  background-color: white;
  position: relative;
  outline: none;
  transform: rotate(45deg);
  -webkit-appearance: none;
}
input[type='checkbox']::before{
  position: absolute;
  content: '';
  background-color: white;
  height: 60%;
  width: 100%;
  top: -59%;
  border-radius: 7.5rem 7.5rem 0 0;
}
input[type='checkbox']::after{
  position: absolute;
  content: '';
  background-color: white;
  height: 60%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius: 7.5rem 7.5rem 0 0;
  top: 20%;
  right: 79%;
}
input[type='checkbox']:checked, input:checked[type='checkbox']::before, input:checked[type='checkbox']::after{
  background-color: red;
}


}
button{
  height: 1rem;
  width: 1rem;
  background-color: white;
  position: relative;
  outline: none;
  transform: rotate(45deg);
  -webkit-appearance: none;
}
button::before{
  position: absolute;
  content: '';
  background-color: white;
  height: 60%;
  width: 100%;
  top: -59%;
  border-radius: 7.5rem 7.5rem 0 0;
}
button::after{
  position: absolute;
  content: '';
  background-color: white;
  height: 60%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius: 7.5rem 7.5rem 0 0;
  top: 20%;
  right: 79%;
}